sea.table {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
sea.table > table {
    font-size: 0.875rem;
    width: 100%;

    border-collapse: separate;
    border: 0.0625rem solid #e8e8e8;
    border-spacing: 0;
    text-align: left;
    border-radius: .25rem;

    line-height: 1.5;
    color: rgba(0, 0, 0, 0.65);
    position: relative;
}
sea.table td {
    border-top: 0.0625rem solid #e8e8e8;
}
sea.table td, sea.table th {
    padding: 1rem;
    /* word-break: keep-all; */
    vertical-align: middle;
}
sea.table thead > tr, sea.table tbody > tr {
    -webkit-transition: all .3s;
    transition: all .3s;
}
sea.table thead {
    background: #fafafa;
    color: rgba(0, 0, 0, 0.85);
    font-weight: 600;
}
/* sea.table thead > tr > th {
    border-bottom: 1px solid #e8e8e8;
} */
sea.table tbody > tr:nth-child(2n) {
    background-color: #fafafa;
}
sea.table tbody > tr:hover {
    background-color: #e6f7ff;
}
/* sea.table td + td, sea.table th + th {
    border-left: 1px solid #e8e8e8;
} */
