body {
    display: flex;
    background: #f2f6f7;
}
a {
    color: white;
}

#nav {
    overflow-x: hidden;
    overflow-y: auto;
    width: 256px;
    height: 100vh;
    background: #3d8e9b;
    color: white;
    font-size: 14px;
}
#nav .logo {
    padding: 32px;
    width: 100%;
    box-sizing: border-box;
}
#nav navTitle {
    display: flex;
    margin: 30px 0 0 50px;
    font-size: 24px;
}
#nav navTitle + tag {
    margin-top: 21px;
}
#nav tag {
    position: relative;
    cursor: pointer;
    display: flex;
    align-items: center;
    height: 40px;
    padding-left: 50px;
}
#nav .info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 256px;
    width: calc(100% - 256px);
    height: 64px;
    background-color: #ffffff;
    box-shadow: 0 1px 4px 0 rgba(0, 21, 41, 0.12);
}
#nav .info .right, #nav .info .left {
    display: flex;
    justify-content: center;
    align-items: center;
}
#nav .info .left .back {
    cursor: pointer;
    width: 20px;
    height: 20px;
    margin-left: 24px;
}
#nav .info .right .massage {
    cursor: pointer;
    width: 12px;
    height: 16px;
}
#nav .info .right .head {
    cursor: pointer;
    width: 24px;
    height: 24px;
    margin-left: 24px;
}
#nav .info .right .name {
    cursor: pointer;
    margin-left: 8px;
    margin-right: 24px;
    color: rgba(0, 0, 0, 0.65);
}
#nav .shadow {
    position: fixed;
    top: 0;
    left: 254.5px;
    width: 8px;
    height: 100%;
    background-image: linear-gradient(90deg, rgba(61, 142, 155, .3) 0%, rgba(61, 142, 155, 0) 100%);
}
#nav .active {
    background: #cee6e6;
    color: #3d8e9b;
}
/* #nav .active .notice {
    color: white;
} */
#nav .active-triangle {
    position: absolute;
    right: 32px;
    top: 8px;

    width: 0;
    height: 0;
    border-style: solid;
    border-width: 12px 0 12px 14px;
    border-color: transparent transparent transparent #f6f6f6;
}
/* #nav .notice {
    margin-left: 96px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 15px;
    height: 20px;
    border-radius: 10px;
    background-color: #2b7885;
} */
#nav .copyright {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    position: fixed;
    bottom: 0;
    left: 256px;
    width: calc(100% - 256px);
    height: 121px;
    font-size: 14px;
    color: rgba(0, 0, 0, 0.45);
}
#nav .copyright .btn {
    margin-bottom: 8px;
}
#nav .copyright .btn text {
    margin: 0 40px;
}
#main {
    border: 0;
    width: calc(100% - 300px);
    margin: 118px 24px 121px 24px;
}

/* scroll */
#nav::-webkit-scrollbar {
    width: 0;
}
#nav::-webkit-scrollbar-corner, #nav::-webkit-scrollbar-thumb:window-inactive {
    background: transparent;
}
#nav::-webkit-scrollbar-thumb {
    background: rgba(33, 79, 86, 0.23);
    border-radius: 3px;
}
#nav::-webkit-scrollbar-track {
    background: transparent;
}
