body {
    display: flex;
    background:  #f6f6f6;
}
a {
    color: white;
}

#nav {
    overflow-x: hidden;
    overflow-y: auto;
    width: 300px;
    height: 100vh;
    background: #3d8e9b;
    color: white;
    font-size: 14px;
}
#nav .logo {
    margin: 50px;
    width: 200px;
}
#nav .kind {
    margin-bottom: 75px;
}
#nav navTitle {
    display: flex;
    margin: 30px 0 7px 50px;
    font-size: 24px;
}
#nav tag {
    cursor: pointer;
    display: flex;
    align-items: center;
    height: 45px;
    padding-left: 50px;
}
#nav tag:hover {
    background: rgba(33, 79, 86, 0.23);
}
#nav .info {
    box-sizing: border-box;
    width: 100%;
    height: 75px;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 36px;
    padding-right: 36px;
}
#nav .group {
    cursor: pointer;
    width: 48px;
    height: 48px;
}
#nav .exit {
    cursor: pointer;
    width: 45px;
    height: 45px;
}
#nav .shadow {
    position: fixed;
    top: 0;
    left: 300px;
    width: 30px;
    height: 100%;
    background-image: linear-gradient(90deg, rgba(61, 142, 155, .3) 0%, rgba(61, 142, 155, 0) 100%);
}

#main {
    border: 0;
    width: calc(100% - 300px);
}

/* scroll */
#nav::-webkit-scrollbar {
    width: 6px;
}
#nav::-webkit-scrollbar-corner, #nav::-webkit-scrollbar-thumb:window-inactive {
    background: transparent;
}
#nav::-webkit-scrollbar-thumb {
    background: rgba(33, 79, 86, 0.23);
    border-radius: 3px;
}
#nav::-webkit-scrollbar-track {
    background: transparent;
}
