body {
    font-family: PingFangSC,Microsoft Yahei,sans-serif;
    background: #f6f6f6;
    margin: 0;
}
a {
    text-decoration: none;
}
page {
    color: #3d8e9b;
    display: flex;
    flex-direction: column;
}
